.card-project {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;

  @include screen-s {
    grid-template-columns: 1fr;
  }

  .description-project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper-title-techno {
      display: flex;
      justify-content: space-between;

      h2{
        font-size: clamp(2rem, 3vw, 4rem);
      }

      .wrapper-techno-project {
        display: flex;
        gap: 10px;

        img {
          width: 30px;
        }
      }
    }

    .description {
      padding: 10px 0;
    }
  }
}